.header{
    grid-area:header;
    background-color: ghostwhite;
    box-shadow: 0 5px 5px -5px #333;
    overflow: hidden;
    display: flex;
    flex: 1;
}

.header-left{
    width: 100px;
    order: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
}

.header-main {
    flex: 1;
    order: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-right{
    width: 100px;
    order: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
}